.footer {
  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 25px;

    @media (max-width: 584px) {
      gap: 10px;
    }
  }

  &__copy {
    position: relative;
    @include Font-Source-Sans-Pro-Regular;
    font-size: 11px;
    line-height: 13px;
    color: #ffffff;

    @media (max-width: 584px) {
      font-size: 12px;
      line-height: 14px;
    }

    @media (max-width: 375px) {
      font-size: 10px;
      line-height: 11px;
    }
  }

  &__line {
    position: absolute;
    right: -14px;
    bottom: 0;
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #ffa500;

    @media (max-width: 584px) {
      right: -6px;
      height: 12px;
    }
  }
}
